# MongoDB
MONGO_URI=mongodb://localhost:27017/chronos

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# API Server
API_PORT=3000

# Scheduler
SCHEDULER_POLL_INTERVAL_MS=1000
LEADER_LEASE_TTL_MS=10000
LEADER_RENEW_INTERVAL_MS=3000

# Worker
WORKER_CONCURRENCY=5
HEARTBEAT_INTERVAL_MS=5000
REAPER_INTERVAL_MS=10000

# General
LOG_LEVEL=info
NODE_ENV=development
